a,
a:visited {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  font-family: var(--inter-font);
  font-size: 14px;
}

a:hover {
  color: var(--soft-red);
}

ul {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}
